<!DOCTYPE html>
<html lang="en">

<%- include('../basic') -%>
<head>
	<link rel="stylesheet" href="css/event_styles.css" />
</head>
<body>
	<!-- NAVBAR CODE -->
	<%- include('../navbar') -%>

	<!--EVENTS-->

	<!-- <div class="blacktop"></div> -->

	<div class="eventsbg container pb-5">
		<h1 class="events-heading pt-5">EVENTS</h1>

		<h3 class="events-subheading pt-5 pb-2">Ongoing</h3>
		<div class="d-flex flex-wrap">
			<%- include('ongoing_events') -%>		
		</div>

		<h3 class="events-subheading pt-3 pb-2 ">Upcoming</h3>
		<div class="d-flex flex-wrap">
			<%- include('upcoming_events') -%>		
		</div>

		<h3 class="events-subheading pt-3 pb-2 ">Concluded</h3>
		<div class="d-flex flex-wrap">
			<%- include('completed_events') -%>
		</div>
	</div>


	<!--FOOTER-->
	<%- include('../footer') -%>

	

</body>