<h2 class="events-subheading pt-5 pb-2 ">Ongoing</h2>
<div class="d-flex flex-wrap">
	
	<!--WEEKLY TRIVIA-->
	<div class="col pb-3">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="images/WeeklyTrivia.jpg" alt="Avatar" id="card-img">
				</div>
				<div class="flip-card-back">
					<div class="flip-para">Follow us on Instagram<br><a href="https://instagram.com/spirit_iitguwahati" style="text-decoration: none; color:white;" target="_blank">(@spirit_iitguwahati)</a> to 												participate in our exciting Weekly Trivia quizzes.<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--FITNESS CHALLENGE-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Fitness.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 2 - 20 Oct<br>Registration ends : 20 Oct
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-fitness">
                 		 	READ MORE
                    	</a>
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>
		
		<div>
			<%- include('event_reg_modals/events_fitness') -%>
		</div>
	
	<!--ATHLOS ARENA-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/AthlosArena.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-athlos">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>
		
		<div>
			<%- include('event_reg_modals/events_athlosarena') -%>
		</div>
		
		<!--CRICKET-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Cricket.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-crick">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_crick') -%>
		</div>
		
		<!--VOLLEYBALL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Volleyball.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-volleyball">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_volleyball') -%>
		</div>
		
		<!--FOOTBALL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Football.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-football">
                 		 	READ MORE
                    	</a>
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_football') -%>
		</div>
		
		<!--LAWN TENNIS-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/LawnTennis.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-lawntennis">
                 		 	READ MORE
                    	</a>
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_lawntennis') -%>
		</div>
		
		<!--TABLE TENNIS-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/TableTennis.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-tabletennis">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_tabletennis') -%>
		</div>
		
		<!--BADMINTON-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Badminton.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-badminton">
                 		 	READ MORE
                    	</a>
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_badminton') -%>
		</div>
		
		<!--CARROM-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Carrom.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para"><span class="date">Event Dates: 1 - 20 Oct</span><br>Inter-college competition with a chance to win General Championship award
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-carrom">
                 		 	READ MORE
                    	</a> 
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_carrom') -%>
		</div>
</div>