<!-- Upcoming events -->
	<h2 class="events-subheading pt-3 pb-2 ">Upcoming</h2>
	<div class="d-flex flex-wrap">
		
		<!--IPL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Ipl.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 9 - 10 Oct<br>Last date to register : 6 Oct<br>Prize Pool: 20k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-ipl">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_ipl') -%>
		</div>
		
	
		<!--SHUTTERBUG-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/ShutterBug.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 8 - 14 Oct<br>Last date to register : 14 Oct<br>Prize Pool: 5k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-shutter">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_shutterbug') -%>
		</div>
		
		<!--MARATHON-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Marathon.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 16 - 17 Oct<br>Last date to register : 15 Oct<br>Prize Pool: 10k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-marathon">
                 		 	COMING SOON!
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_ipl') -%>
		</div>


		<!--ATHLOS ARENA-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/AthlosArena.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-athlos">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>
		
		<div>
			<%- include('event_reg_modals/events_athlosarena') -%>
		</div>
		
		<!--CRICKET-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Cricket.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-crick">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_crick') -%>
		</div>
		
		<!--VOLLEYBALL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Volleyball.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-volleyball">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_volleyball') -%>
		</div>
		
		<!--FOOTBALL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Football.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-football">
                 		 	READ MORE
                    	</a>
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_football') -%>
		</div>
		
		<!--LAWN TENNIS-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/LawnTennis.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-lawntennis">
                 		 	READ MORE
                    	</a>
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_lawntennis') -%>
		</div>
		
		<!--TABLE TENNIS-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/TableTennis.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-tabletennis">
                 		 	READ MORE
                    	</a> 
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_tabletennis') -%>
		</div>
		
		<!--BADMINTON-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Badminton.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-badminton">
                 		 	READ MORE
                    	</a>
						<!--<a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_badminton') -%>
		</div>
		
		<!--CARROM-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Carrom.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 1 - 20 Oct<br>Last date to register : 17 Oct<br>Prize Pool: 50k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-carrom">
                 		 	READ MORE
                    	</a> 
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a>-->
                    </div>
                </div>
            </div>
        </div>

		<div>
			<%- include('event_reg_modals/events_carrom') -%>
		</div>
		

	</div>
