<!DOCTYPE html>
<html>
<%- include('../basicwlb') -%>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spirit 2021 | Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@600&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="css/dashboard.css" />
    </head>
    <body>
		<%- include('../navbar') -%>
        <h1 class="dash_title">Dashboard</h1>
        <div class="dash_container">

            <div class="user_info">
                <div class="data_field">
                    <p class="data_title">Username</p>
                    <p class="data_text" id="name"><%=user.username%></p>
                </div>
                <div class="data_field">
                    <p class="data_title">College</p>
                    <p class="data_text" id = "college"><%=user.collegename%></p>
                </div>
                <div class="data_field">
                    <p class="data_title">Email </p>
                    <p class="data_text" id = "email"><%=user.email%></p>
                </div>
				<%if (user.provider=="email"){%>
            	<div class="data_field">
                    <p class="data_title">Password</p>
					<p class="data_text" id="forgot" >
						<a style="color: #C567FF; cursor: pointer;" href="authapi/getnewpass/<%=user._id%>">Change</a>
					</p>
                </div>
			    <%}%>
            
                <div class="data_field">
                    <p class="data_title"></p>
                    <p class="data_text" >
						<a  style="color: #C567FF; cursor: pointer;" href="profile/update/<%=user._id%>">Update profile</a>
					</p>
                </div>
                <div class="data_field">
                    <p class="data_title"></p>
                    <p class="data_text">
						<a style="color: #C567FF; cursor: pointer;" href="logout">Log Out </a>
					</p>
                </div>
            </div>
            <hr noshade size="1px">
 
            <h3 class="heading">Registered Events</h3>
           <!-- <%- include('registered_events') -%> -->
			<div class="reg_events">
				<%if(user.storerandompassword){ %>
				<div class="data_text event">
					IPL Auction
				</div>
				<% }else if(typeof user.events_registered === 'undefined'){ %>
				<div class="data_text event">
					You have not registered for any event
				</div>
				<%}else if(user.events_registered.length > 0){for (var i=0; i<user.events_registered.length; i++){
					var event_name = user.events_registered[i];
					stuff_event.event.findOne({ event_name: event_name }).then((event1)=>{
					console.log(event1);
					if(event1._id){
				%>
					<div class="data_text event">
						<%=event1.event_name.replace("Ipl", "IPL") %>		
					</div>
				<%}else{ %>
					<div class="data_text event">
						Photo for event not found
					</div>
				<%}});}}else{%>
				<div class="data_text event">
					You have not registered for any event
				</div>
				<%}%>
				
			</div>
            
       <!--     <hr noshade size="1px">
            <h3 class="heading">Submission Info</h3>
            <div class="sbmsn_info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consequat diam sollicitudin lacus bibendum porta. 
                <br>
                <br>
                Suspendisse maximus orci id metus aliquet, eu vehicula nunc vehicula. Integer venenatis libero a pharetra pellentesque. Etiam scelerisque pellentesque nisl quis feugiat. 
                <br><br>
                Maecenas suscipit ornare facilisis. Integer id tortor maximus, auctor tellus nec, rhoncus ante. Curabitur venenatis lacinia mollis. Duis mollis diam leo, sed efficitur augue euismod id. Nunc volutpat odio et ante euismod, a suscipit turpis varius. Nullam tempus condimentum fringilla. 
                <br><br>
                Fusce a pharetra leo. Maecenas vel est nisl.
            </div>      -->
		</div>
		<%- include('../footer') -%>
    </body>
</html>